@import "reset.css";
@import "header.css";
@import "footer.css";
@import "main.css";

body {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}
